fastapi
langchain
langgraph
loguru
pydantic
pydantic-settings
tabulate==0.9.0
uvicorn
python-dotenv==1.0.1
SQLAlchemy==2.0.32
lxml==5.3.0
requests
tenacity~=8.5.0
pyyaml==6.0.2
json_repair
pymysql==1.1.1
cryptography>=43,<47
numpy
redis
langchain_community
langchain_huggingface
alibabacloud_oss_v2
PyPDF2
pypdfium2
langchain-core
langsmith
langfuse
fast-langdetect
tqdm
onnxruntime
Pillow
opencv-python
scipy
rapid-table
paddleocr
faiss-cpu
rank_bm25
jieba>=0.42.1
langchain-text-splitters
rich>=13.0.0
pandas
openpyxl>=3.1.5,<4
